################################
# Dev-only Secrets & Config
################################

.vscode
.devcontainer
.github
.git
.gitignore
.github
.DS_Store
.editorconfig
.envrc
env/
*.log
docker-compose*.yml
lefthook.yml
.commitlintrc.yml
.copier-answers.yml
/copier.yml
/.copier
Justfile
/just

# infra configuration should be dev/CI only
/infra

# I like to scatter TODO files around the top-level to keep track of ideas
/TODO*

# readme and other top-level *.md shouldn't need to be included
*.md

# playground is for dev, dangerous to include anything like this in prod
/playground

# keep the folder, ignore contents
/tmp/*

# mise IS used in deployment, but only the top-level mise. Any of the env-specific mise config is NOT required for prod
.config

# NOTE /Procfile is intentionally not ignored, it can be used by some deployments (dokku)

################################
# Python Cruft
################################

**/__pycache__
.ruff_cache
.mypy_cache
.venv
.pytest_cache
.ipython_history
.coverage

# we don't need python tests in prod
/tests

################################
# Node/Web Ignores
################################

/web/client
/web/build
/web/.react-router
/web/test
**/node_modules

################################
# AI configuration
################################

AGENTS.md
CLAUDE.md
GEMINI.md
.opencode
.gemini
.cursor
# .github is already ignored
commands.md
instructions.md
