.vscode
.devcontainer
.github
.git
.github
.DS_Store
.trunk
.editorconfig

.envrc
env/

**/__pycache__
.ruff_cache
.mypy_cache
.venv
.pytest_cache
.ipython_history
.coverage

node_modules

# TODO this may be a bad idea, but let's exclude this for now...
/test
/test_helpers

/infra
/tmp/*

*.log

Justfile
/just
/TODO*
/README.md
/playground*
/tests

# NOTE /Procfile is intentionally not ignored, it can be used by some deployments (dokku)

docker-compose*.yml
lefthook.yml
.localias.yaml
.commitlintrc.yml
.copier-answers.yml

/copier.yml
/.copier

# web code is built and bundled into the image separately
/web

# AI configuration
AGENTS.md
CLAUDE.md
GEMINI.md
.opencode
.gemini
.cursor
commands.md
instructions.md

# NOTE .nixpacks must be added to the docker container! Do not ignore.
