.vscode
.devcontainer
.github
.envrc
.git
.github
.DS_Store
.trunk

.env*

__pycache__
.ruff_cache
.mypy_cache
.venv
.pytest_cache
.ipython_history

.docker-compose.yml

node_modules

/celerybeat-schedule

# TODO this may be a bad idea, but let's exclude this for now...
/test
/test_helpers

/infra
/tmp/*

*.log

Justfile*
Procfile
/TODO
docker-compose*.yml
/playground.py

# web code is built and bundled into the image separately
/web

# NOTE .nixpacks must be added to the docker container! Do not ignore.
