# NOTE: configuration for all development environment (no secrets!) should go here

# https://github.com/direnv/direnv/issues/1215
# https://github.com/direnv/direnv/issues/348
# https://github.com/direnv/direnv/pull/1218
if [ -n "$RENDER_DIRENV" ]; then
  for env_file in $RENDER_DIRENV; do
    source_env "$env_file"
  done
  exit
fi

# https://github.com/iloveitaly/dotfiles/blob/e76b28dc7c2e321fe0958ac0781dcebcd9b3d5a7/.config/direnv/direnvrc#L29-L44
if has layout_uv; then
  layout uv
else
  echo "No layout_uv found, venv not automatically activated"
fi

# .env should always exist, not contain secrets, and apply to all environments
source_env ".env"

if [ -n "$GITHUB_ACTIONS" ]; then
  source_env ".env.test"
else
  # unique setup for your local machine, allow overrides of common configuration, contain development secrets
  source_env ".env.local"
fi

# direnv does not have an easy way to source a .env.test file when in test mode. We could do this through pytest, etc
# This is harder than two different TEST_ variants for connection strings.
export TEST_REDIS_URL=${REDIS_URL/\/1/\/2}
export TEST_DATABASE_URL=${DATABASE_URL/\/development/\/test}

env_vars_required PYTHON_ENV REDIS_URL DATABASE_URL
