# NOTE: configuration for all development environment (no secrets!) should go here

# https://github.com/iloveitaly/dotfiles/blob/e76b28dc7c2e321fe0958ac0781dcebcd9b3d5a7/.config/direnv/direnvrc#L29-L44
layout uv

export PYTHON_ENV=development
export PYTHON_LOG_PATH=

# casing is important on this one
export OPENAI_LOG=debug
export LOG_LEVEL=info

source_env ".env"

# unique setup for your local machine, allow overrides of common configuration
source_env_if_exists ".env.local"
