.ipython_history
.DS_Store
.venv
.pytest_cache
.ruff_cache
__pycache__
.mypy_cache

/tmp/*
!/tmp/.gitkeep

*.env.*.local

/celerybeat-schedule

/infra/.terraform*

.nixpacks

# for hacking on packages within this repo
/pypi

/playground/*
