# tools shared between dev and ci should be specified here. This makes it easy to specify exact versions.
# if tools are dev only, they should be installed via brew or some other method.

# this *should* be compatible with mise and asdf, but I'm only testing with mise

just 1.43.0
direnv 2.37.1

uv 0.8.23
python 3.13.7
