# TODO maybe allow larger dependency sprawl since nixpacks will only pick the system versions it cares about
# TODO maybe automated version upgrades? https://mise.jdx.dev/cli/upgrade.html#mise-upgrade

# template is assumed to be tool-agnostic: mise-specific tooling is not used so it's asdf compatible
# limit to requirements shared by development AND production
python 3.13.0
uv 0.5.5
node 22.11.0
pnpm 9.14.4
just 1.37.0
direnv 2.35.0
