source_up

# https://portal.azure.com/#view/Microsoft_Azure_Billing/SubscriptionsBladeV2
export TF_VAR_AZURE_SUBSCRIPTION_ID=YOUR_SUB_UUID

# https://stackoverflow.com/questions/38475104/azure-cli-how-to-change-subscription-default
watch_file ~/.azure/config
az account set --subscription $TF_VAR_AZURE_SUBSCRIPTION_ID

export TF_VAR_OP_VAULT_UID=$OP_VAULT_UID

# https://opentofu.org/docs/internals/debugging/
# export TF_LOG=TRACE
