# language + package manager versions required for the web project
pnpm 10.17.1

# it's best to use a LTS version of node. Many packages (such as better-sqlite3) precompile binaries for LTS
# node versions. Ensuring the right packages, etc are available during container creation for these packages is a pain.
node 22.20.0
